<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!--<title> An About Us Page | CoderGirl </title>-->
    <!---Custom Css File!--->
    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: 'Poppins', sans-serif;
        }

        .about-us {
            height: 100vh;
            width: 100%;
            padding: 90px 0;
            background: #fae5d3;
        }

        .pic {
            height: 300px;
            width: 302px;
        }

        .about {
            width: 1130px;
            max-width: 85%;
            margin: 0 auto;
            display: flex;
            align-items: center;
            justify-content: space-around;
        }

        .text {
            width: 540px;
        }

            .text h2 {
                font-size: 40px;
                font-weight: 600;
                margin-bottom: 10px;
            }

            .text h5 {
                font-size: 56px;
                font-weight: 500;
                margin-bottom: 20px;
            }

        span {
            color: #e67e22;
        }

        .text p {
            font-size: 16px;
            line-height: 25px;
            letter-spacing: 1px;
            font-family: "Times New Roman", Times, serif;
        }

        .data {
           // margin-top: 30px;
        }

        .hire:hover {
            background: #fae5d3;
            border: 1px solid #fae5d3;
        }
    </style>
</head>
<body>
    <section class="about-us">
        <div class="about">
            <img src="https://media.istockphoto.com/id/866616238/photo/plane-lands-at-an-airfield-at-the-sunset.jpg?b=1&s=170667a&w=0&k=20&c=b3O8p4PpZ5IGqRuBArK2Puj33vC1ZpUBaJ1FO3PsLb4=" alt="" class="pic" style="border-radius: 150%">
            <div class="text">
                <h2>About Us</h2>
                <p>
                    More than 11 million direct customers prefer using FlyFriendly for the guaranteed best price on

                    travel booking. Download FlyFriendly mobile app to search and book flight tickets We also provide attractive offers on travel through our

                    flight tickets booking app. Enjoy special discounts on first time booking and make

                    unlimited memories with FlyFriendly.
                    On the FlyFriendly flight booking app, you are guaranteed to have the best rates on flight booking. Our travel app provides a hassle-

                    free flight booking experience to the users on any handheld device. You

                    can book domestic and international flight tickets for one way and round trip.
                </p>
                <div class="data">
@*                    <a href="" class="" style="background-color: #e67e22;width: 120px;height: 30px;">Book Now </a>
*@
                    <button class=" btn-danger" style="height:40px;width:150px;">Book Now </button>
                </div>
            </div>
        </div>
        </section>
</body>
</html>